* {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: bold;
    padding: 5px;
    margin: 5px;
    font-variation-settings:
    "wdth" 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #full-bio {
    display: none;
}

#read-less {
    display: none;
}

  .container {
    display: grid;
    grid-template-areas:
      "header header"
      "nav nav"
      "mainimg maincontent"
      "footer footer";
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    padding: 10px;
    width: 100%;
    min-height: 100vh;
  }
  .header {
    grid-area: header;
    background-color: purple;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .nav {
    grid-area: nav;
    background-color: lightpink;
    padding: 15px;
    text-align: center;
    position: relative;
  }
  
  .navigation.active {
    font-weight: bold;
    color: darkblue; 
    text-decoration: underline;
  }
  
  .navigation:hover {
    color: green;
  }
  .mainimg {
    grid-area: mainimg;
    background-color: lightcoral;
    padding: 15px;
    text-align: center;
  }

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.mainimg img {
  animation: fadeIn 2s ease-in-out;
}

  
  .maincontent {
    grid-area: maincontent;
    background-color: lightyellow;
    padding: 15px;
    text-align: left;
  }
  
  .buttons {
    margin-top: 20px;
    text-align: center;
  }
  
  .buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1em;
  }
  
  .footer {
    grid-area: footer;
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
  }
  #hamburger {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  @media screen and (max-width: 768px) {
    .container {
      grid-template-areas:
        "header"
        "nav"
        "mainimg"
        "maincontent"
        "footer";
      grid-template-columns: 1fr;
    }
  
    .nav,
    .header,
    .mainimg,
    .maincontent,
    .footer {
      padding: 15px;
    }
  
    .nav .nav-links {
      flex-direction: column;
      gap: 10px;
      display: none;
    }
    
    #hamburger {
      display: block;
    }
  }
  